<!DOCTYPE html>
<html ng-app = "myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="calculation_1.js"></script>
</head>
<body ng-controller="myCon">
    <input type="text" ng-model="num1">
    <select ng-model="ico">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select>
    <input type="text" ng-model="num2"> input "=" to show the result
    <input type="text" ng-model="string" ng-keyup = "result();">
    {{myresult}}
</body>

</html>
